<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header bg-none fw-bold d-flex align-items-center">Discussion group <a href="#" class="ms-auto text-muted text-decoration-none" data-toggle="card-expand" data-bs-original-title="" title=""><i class="fa fa-expand"></i></a></div>
                    <div class="card-body bg-white bg-opacity-15 ps ps--active-y" data-scrollbar="true" data-height="200px" data-init="true" style="height: 200px;">
                        <div class="widget-chat">
                            <div class="widget-chat-item">
                                <div class="widget-chat-media"><img src="assets/img/user/user-2.jpg" alt=""></div>
                                <div class="widget-chat-content">
                                    <div class="widget-chat-name">Roberto Lambert</div>
                                    <div class="widget-chat-message last">
                                        Hey, I'm testing out group messaging.
                                    </div>
                                </div>
                            </div>
                            <div class="widget-chat-item reply">
                                <div class="widget-chat-content">
                                    <div class="widget-chat-message last">
                                        Cool
                                    </div>
                                    <div class="widget-chat-status"><b>Read</b> 16:26</div>
                                </div>
                            </div>
                            <div class="widget-chat-date">Today 14:21</div>
                            <div class="widget-chat-item">
                                <div class="widget-chat-media"><img src="assets/img/user/user-3.jpg" alt=""></div>
                                <div class="widget-chat-content">
                                    <div class="widget-chat-name">Rick Powell</div>
                                    <div class="widget-chat-message last">
                                        Awesome! What's new?
                                    </div>
                                </div>
                            </div>
                            <div class="widget-chat-item">
                                <div class="widget-chat-media"><img src="assets/img/user/user-2.jpg" alt=""></div>
                                <div class="widget-chat-content">
                                    <div class="widget-chat-name">Roberto Lambert</div>
                                    <div class="widget-chat-message">
                                        Not much, It's got a new look, contact pics show up in group messaging, some other small stuff.
                                    </div>
                                    <div class="widget-chat-message last">
                                        How's crusty old iOS 6 treating you?
                                    </div>
                                </div>
                            </div>
                            <div class="widget-chat-item reply">
                                <div class="widget-chat-content">
                                    <div class="widget-chat-message last">
                                        Sucks
                                    </div>
                                    <div class="widget-chat-status"><b>Read</b> 16:30</div>
                                </div>
                            </div>
                        </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 81px;"></div></div></div>
                    <div class="card-footer bg-none">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <button class="btn btn-outline-default" type="button"><i class="fa fa-paper-plane text-muted"></i></button>
                        </div>
                    </div>
                    {% include 'widgets/card_arrows.jinja '%}
                </div>
            </div>
        </div>
    </div>
    {% include 'widgets/card_arrows.jinja '%}
</div>