<div class="btn-toolbar">
    <div class="btn-group ms-3 me-4">
        <a href="{{ url_for('main.connection') }}" class="btn btn-outline-theme"><i class="fas fa-qrcode"></i></a>
        <a href="{{ url_for('main.messages') }}" class="btn btn-outline-theme"><i class="far fa-envelope"></i></a>
        <a href="{{ url_for('main.schemas') }}" class="btn btn-outline-theme"><i class="far fa-address-card"></i></a>
    </div>
    <div class="btn-group me-4">
        <a href="{{ url_for('main.connection') }}" class="btn btn-outline-theme"><i class="fas fa-qrcode"></i></a>
        <a href="{{ url_for('main.messages') }}" class="btn btn-outline-theme"><i class="far fa-envelope"></i></a>
        <a href="{{ url_for('main.proof_requests') }}" class="btn btn-outline-theme"><i class="far fa-check-square"></i></a>
    </div>
    <div class="btn-group">
        <a href="{{ url_for('main.settings') }}" class="btn btn-outline-theme"><i class="fas fa-cog"></i></a>
    </div>
</div>